@import "../common/custom";
@import "../common/border";

@button-prefix-cls: ~"@{css-prefix}button";

.button-size(@size) {
  .font-size(@size);
  .btn-height(@size);
  .btn-padding(@size);
}

.button-bgc(@type) {
  .background-color--default(@type);
  .font-color('white');

  &:active {
    .background-color--active(@type);
  }
}

.plain-bgc(@type) {
  .background-color--plain(@type);
  .font-color(@type);
  .border(@type);

  &:active {
    .background-color--plain-active(@type);
  }
}

.@{button-prefix-cls} {
  position: relative;
  user-select: none;
  font-family: PingFangSC-Regular;
  .font-color('white');
  text-align: center;
  padding: 0;
  border-radius: 8px;
  border: none;
  outline: none;
  // box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;

  // type
  &--default {
    .background-color--default("white");
    .font-color("normal");
    .border('normal');

    &:active {
      .font-color("primary");
    }
  }
  &--primary {
    .button-bgc("primary");

    &.is-plain {
      .plain-bgc("primary");
    }
  }
  &--success {
    .button-bgc("success");

    &.is-plain {
      .plain-bgc("success");
    }
  }
  &--warning {
    .button-bgc("warning");

    &.is-plain {
      .plain-bgc("warning");
    }
  }
  &--danger {
    .button-bgc("danger");

    &.is-plain {
      .plain-bgc("danger");
    }
  }
  &--info {
    .button-bgc("info");

    &.is-plain {
      .plain-bgc("info");
    }
  }

  // size
  &--large {
    .button-size("large");
    display: block;
    width: 100%;

    &.is-round {
      border-radius: 80px;
    }
  }
  &--normal {
    .button-size("normal");
    &.is-round {
      border-radius: 60px;
    }
  }
  &--small {
    .button-size("small");
    &.is-round {
      border-radius: 40px;
    }
  }
  &--mini {
    .button-size("mini");
    &.is-round {
      border-radius: 20px;
    }
  }

  // other feature
  &.is-disabled {
    background: var(--color-grey);
    opacity: 0.6;
  }
  &.is-light {
    color: var(--color-primary--light);
    background: var(--color-grey--light);
    box-shadow: 0 1px 3px var(--color-shadow);
  }
}
