@import '../common/custom';
@import '../common/border';

@button-prefix-cls: ~"@{css-prefix}button";

.button-size(@size) {
  @scopeSize: e('var(--font-size--@{size})');
  @scopeHeight: e('var(--button-height--@{size})');
  @scopePadding: e('var(--button-padding--@{size})');
  font-size: @scopeSize;
  height: @scopeHeight;
  padding: 0 @scopePadding;
  line-height: @scopeHeight;
}
.button-bg(@type) {
  @endType: e('var(--color-@{type})');
  background-image: linear-gradient(90deg, @endType 0%, @endType 100%);
}

.@{button-prefix-cls} {
  position: relative;
  user-select: none;
  font-family: PingFangSC-Regular;
  color: var(--color-white);
  text-align: center;
  padding: 0;
  border-radius: 8px;
  border: none;
  outline: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;

  // type
  &--default {
    .button-bg('white');
    color: var(--color-normal);
  }
  &--primary {
    .button-bg('primary')
  }
  &--success {
    .button-bg('success')
  }
  &--warning {
    .button-bg('warning')
  }
  &--danger {
    .button-bg('danger')
  }

  // size
  &--large {
    .button-size('large');
    display: block;
    width: 100%;
  }
  &--normal {
    .button-size('normal')
  }
  &--small {
    .button-size('small')
  }
  &--mini {
    .button-size('mini')
  }

  // other feature
  &.is-disabled {
    background: var(--color-grey);
  }
  &.is-light {
    color: var(--color-primary--light);
    background: var(--color-grey--light);
    box-shadow: 0 1px 3px var(--color-shadow);
  }
  &.is-inline {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    padding: 0 30px;
  }
  &.is-plain {
    color: var(--color-primary--light);
    background: transparent;
    .border-1px(var(--color-primary--light), 8px);
  }
}