// Prefix
@css-prefix: july-;

// Animation
@animation-time: .3s;
@ease-in-out: ease-in-out;

// root
:root {
    // color
    --color-normal: #606266;
    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-white: #FFF;
    --color-grey: #DDD;
    --color-grey--light: #FCFCFC;
    --color-grey--bg: #e5e9ee;
    --color-grey--bd: #909399;
    --color-primary: #409eff;
    --color-primary--light: #4B90FF;
    --color-primary--bg: #ecf5ff;
    --color-primary--bd: #b3d8ff;
    --color-success: #67c23a;
    --color-success--light: #acee8a;
    --color-success--bg: #f0f9eb;
    --color-success--bd: #c2e7b0;
    --color-info: #909399;
    --color-info--light: #b1b3b8;
    --color-info--bg: #f4f4f5;
    --color-info--bd: #d3d4d6;
    --color-warning: #e6a23c;
    --color-warning--light: #f3c57f;
    --color-warning--bg: #fdf6ec;
    --color-warning--bd: #f5dab1;
    --color-danger: #f56c6c;
    --color-danger--light: #e6a5a5;
    --color-danger--bg: #fef0f0;
    --color-danger--bd: #fbc4c4;

    // font-size
    --font-size--large: 36px;
    --font-size--normal: 32px;
    --font-size--small: 28px;
    --font-size--mini: 24px;

    // width or height
    --button-height--large: 88px;
    --button-height--normal: 72px;
    --button-height--small: 56px;
    --button-height--mini: 40px;

    // padding
    --button-padding--normal: 30px;
    --button-padding--small: 20px;
    --button-padding--mini: 10px;
    
}
